@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dde8f0;
  --foreground: #171717;
  --sidebar-bg: #ffffff;
  --brand: #0d9488;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
